body{
    background-color: #545454;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.bodya{
    display: grid;
    grid-template-columns: repeat(8, 12.28%);
    grid-template-rows: repeat (4, 10);
    grid-gap: 3px;
}

.logo{
    grid-column: 1 / 8;
    grid-row: 1 / 2;
}

.textoa{
    grid-column: 1 / 8;
    grid-row: 2 / 3;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: #9b9b9b;
    padding: 30px;
    text-align: justify;
}

.textob{
    grid-column: 1 / 8;
    grid-row: 3 / 4;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #9b9b9b;
    padding: 30px;
    text-align: justify;
}

.redes{
    text-align: center;
    grid-column: 8;
    grid-row: 2 / 4;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #808080;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#descargas{
    width: 42%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0px auto;
    padding: 0px;
}



h1 {
   text-shadow: 2px 2px 5px rgb(141, 0, 177);
}

img{
    border-radius: 15px;
}

.pagina1{
    border: 2px solid white;
    border-radius: 15px;
    background-color: white; 
}



@keyframes cambiar-color {
    0% {background-color:rgb(228, 0, 228);}
    25% {background-color:rgb(175, 66, 197);}
    50% {background-color:rgb(150, 0, 250);}
    75% {background-color:rgb(140, 0, 255);}
    100% {background-color:rgb(111, 0, 255);}
}

.coso-multicolor1{
    margin: 0px auto;
    width: 600px;
    height: 10px;
    animation-name: cambiar-color;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.coso-multicolor2{
    margin: 0px auto;
    width: 600px;
    height: 10px;
    animation-name: cambiar-color;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
